@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  min-height: 100vh;
}

h1,
h2,
h3 {
  font-weight: bold;
  text-transform: capitalize;
}

button {
  border: 1px solid;
  border-radius: 0.5em;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: bold;
  padding: 0.75rem 1rem;
  transition: all ease-in-out 0.2s;
  width: 100%;
}

/* Card */
.card {
  aspect-ratio: auto;
  box-shadow: 0 0px 0px 1px gray;
  border-radius: 0.75em;
  cursor: pointer;
  padding: 2rem;
}

.card-black {
  background-color: #0c0c0c;
  box-shadow: none;
  color: #d5d5d5;
  position: relative;
}

.card-black::before {
  background: linear-gradient(90deg, purple, green, hotpink);
  content: "";
  filter: blur(10px);
  left: 0;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.card-white {
  background-color: #fff;
  color: #0c0c0c;
}

.white-btn {
  background: transparent;
  color: black;
}
.white-btn:hover {
  background: black;
  color: white;
}

.black-btn {
  background-color: #fff;
  color: #0c0c0c;
}
.black-btn:hover {
  background-color: #e0e0e0;
}

.card-title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.card-price {
  font-size: 2rem;
  font-weight: bold !important;
  margin-bottom: 0.5rem;
}

.card-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

@media screen and (max-width: 768px) {
  #card-container {
    gap: 1rem;
    padding: 1rem;
  }

  body {
    padding: 1rem;
  }
}

@media screen and (max-width: 426px) {
  .card {
    text-align: center;
  }

  body {
    padding: 1rem;
    padding-top: 2rem !important;
  }
}
